.wrap {
  // height: 300px;
  padding: 72px 144px 0 144px;
  border: 1px solid red;
  .infoColumn {
    border: 1px solid red;
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    justify-content: space-between;
    .infoBlock {
      height: 100px;
    }
  }
}
