.wrap {
  // height: 300px;
  // padding: 72px 144px 72px 144px;
  padding-top: 72px;
  background-color: #f9f9f9;
  border: 1px solid red;

  .section {
    border: 1px solid red;
  }
  .contentWrap {
    display: flex;
    position: relative;
    height: 330px;
    .img {
      width: 640px;
      background-color: blue;
    }
    .content {
      flex: 1;
      padding-top: 90px;
      padding-left: 60px;
    }
  }
}
