.bannerWrap {
  border: 1px solid red;
  height: 496px;
  text-align: center;
  .textContainer {
    // border: 1px solid red;
    width: 647px;
    height: 140px;
    margin: auto;
    margin-top: 100px;
    .title {
      // border: 1px solid red;
      font-size: 38px;
      font-weight: 600;
      line-height: 46px;
    }
    .content {
      // border: 1px solid red;
      margin-top: 32px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  .cardContainer {
    border: 1px solid red;

    width: 760px;
    height: 112px;
    display: flex;
    margin: auto;
    margin-top: 72px;
    justify-content: space-between;
  }
  .cardWrap {
    width: 172px;
    height: 112px;
    padding: 18px 45px;
    background: linear-gradient(360deg, #abc4ec 0%, rgba(171, 196, 236, 0.35) 100%);

    border: 1.2px solid #ffffff;

    img {
      width: 40px;
      height: 40px;
      // border: 1px solid red;
    }
  }
}
