.bannerWrap {
  border: 1px solid red;
  height: 534px;
  background-color: rgba(0, 0, 1, 0.65);
}
.libTabsWrap {
  border: 1px solid red;
  width: 1124px;
  height: 54px;
  margin: auto;
  .tab {
    width: 130px;
    height: 54px;
    border: 1px solid red;
  }
  .active {
    background-color: blue;
  }
}
